# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:

    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [12.x, 14.x, 15.x, 16.x]
        arch: [x64]

    runs-on: ${{ matrix.os }}
    name: ${{ matrix.os }} / Node ${{ matrix.node-version }} ${{ matrix.arch }}

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install -g npm@7
      - run: npm install
      - run: npm run ts:build
      - run: cd engine && npm run build
      - run: cd spec && npm run spec:query
      - run: cd spec && npm run spec:update
